absl-py==2.1.0
accessible-pygments==0.0.5
alabaster==0.7.16
asttokens
astunparse==1.6.3
attrs==24.2.0
babel==2.16.0
beautifulsoup4==4.12.3
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama
comm
contourpy==1.3.0
cycler==0.12.1
debugpy
decorator
docutils==0.20.1
exceptiongroup
executing
fastjsonschema==2.20.0
flatbuffers==24.3.25
fonttools==4.54.1
gast==0.4.0
ghp-import==2.1.0
google-auth==2.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.67.0
h5py==3.12.1
idna==3.10
imagesize==1.4.1
importlib_metadata
ipykernel
ipython
jedi
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-book==1.0.3
jupyter-cache==1.0.0
jupyter_client
jupyter_core
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.7
latexcodec==3.0.0
libclang==18.1.1
linkify-it-py==2.0.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline
mdit-py-plugins==0.4.2
mdurl==0.1.2
myst-nb==1.1.2
myst-parser==2.0.0
nbclient==0.10.0
nbformat==5.10.4
nest_asyncio
numpy==1.24.4
oauthlib==3.2.2
opt_einsum==3.4.0
packaging
pandas==2.2.3
parso
patsy==0.5.6
pickleshare
pillow==11.0.0
platformdirs
prompt_toolkit
protobuf==3.19.6
psutil
pure_eval
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybtex==0.24.0
pybtex-docutils==1.0.3
pydata-sphinx-theme==0.16.0
Pygments
pyparsing==3.2.0
python-dateutil
pytz==2024.2
# pywin32==305.1
PyYAML==6.0.2
pyzmq
referencing==0.35.1
requests==2.32.3
requests-oauthlib==2.0.0
rpds-py==0.20.0
rsa==4.9
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
six
snowballstemmer==2.2.0
soupsieve==2.6
Sphinx==7.4.7
sphinx-book-theme==1.1.3
sphinx-comments==0.0.3
sphinx-copybutton==0.5.2
sphinx-jupyterbook-latex==1.0.0
sphinx-multitoc-numbering==0.1.3
sphinx-thebe==0.3.1
sphinx-togglebutton==0.3.2
sphinx_design==0.6.1
sphinx_external_toc==1.0.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-bibtex==2.6.3
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.36
stack-data
statsmodels==0.14.4
tabulate==0.9.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.1
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.5.0
threadpoolctl==3.5.0
tomli==2.0.2
tornado
traitlets
typing_extensions
tzdata==2024.2
uc-micro-py==1.0.3
urllib3==2.2.3
wcwidth
Werkzeug==3.0.4
wrapt==1.16.0
zipp
